.wrapper1 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  grid-auto-rows: minmax(10px, auto);
}

.wrapper2 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  grid-auto-rows: minmax(10px, auto);
}

.one {
  grid-column: 1;
  grid-row: 1;
}

.two {
  grid-column: 2;
  grid-row: 1;
}

.three {
  grid-column: 3;
  grid-row: 1;
}

.four {
  grid-column: 1;
  grid-row: 2;
}

.five {
  grid-column: 2;
  grid-row: 2;
}

.six {
  grid-column: 3;
  grid-row: 2;
}

.seven {
  grid-column: 1;
  grid-row: 3;
}

.eight {
  grid-column: 2;
  grid-row: 3;
}

.nine {
  grid-column: 3;
  grid-row: 3;
}

.allgrid {
  background-color: aliceblue;
  margin: 0px 40% 0px 40%;
  align-items: center;
  justify-items: center;
}

#submit {
  margin: 0px 50% 0px 50%;
  grid-column: 2;
  grid-row: 4;
}